.CheckItemContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  justify-content: center;
}
.CheckItemContainer:hover {
    background-color: #e6ebf4;
}
.CheckItemContainer:focus {
    background-color: #e4f5f7;
}
.checkDescription {
  font-size: 14px;
}
.disabled {
  color: grey;
}
